# Global ignores
.DS_Store
Thumbs.db
*.log
*.env
**/__pycache__/
*ipynb

# React (client folder)
client/node_modules/
client/dist/
client/tmp/
client/out-tsc/
client/.nyc_output
client/coverage/
client/.grunt
client/bower_components/
client/.lock-wscript
client/.idea/
client/.project
client/.classpath
client/.c9/
client/.launch
client/.settings/
client/.sublime-workspace
client/.vscode/*
client/.sass-cache
client/connect.lock
client/typings/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/jspm_packages/
client/.npm
client/.eslintcache
client/.node_repl_history
client/*.tgz
client/.yarn-integrity
client/lerna-debug.log
client/.env

# Django (server folder)
server/*.py[cod]
server/*$py.class
server/*.so
server/.Python
server/build/
server/develop-eggs/
server/dist/
server/downloads/
server/eggs/
server/.eggs/
server/lib/
server/lib64/
server/parts/
server/sdist/
server/var/
server/wheels/
server/share/python-wheels/
server/*.egg-info/
server/.installed.cfg
server/*.egg
server/MANIFEST
server/pip-log.txt
server/pip-delete-this-directory.txt
server/htmlcov/
server/.tox/
server/.nox/
server/.coverage
server/.coverage.*
server/.cache
server/nosetests.xml
server/coverage.xml
server/*.cover
server/*.py,cover
server/.hypothesis/
server/.pytest_cache/
server/cover/
server/*.mo
server/*.pot
server/*.log
server/local_settings.py
server/db.sqlite3
server/db.sqlite3-journal
server/instance/
server/.webassets-cache
server/.scrapy
server/docs/_build/
server/.pybuilder/
server/target/
server/.ipynb_checkpoints
server/profile_default/
server/ipython_config.py
server/.python-version
server/.pdm.toml
server/.pdm-python
server/.pdm-build/
server/__pypackages__/
server/celerybeat-schedule
server/celerybeat.pid
server/*.sage.py
server/.env
server/env/
server/**/venv/
server/ENV/
server/env.bak/
server/**/venv.bak/
server/.spyderproject
server/.spyproject
server/.ropeproject
server/site/
server/.mypy_cache/
server/.dmypy.json
server/dmypy.json
server/.pyre/
server/.pytype/
server/cython_debug/
server/.venv/
server/masterflash/core/migrations/
server/venv/
docker-compose.yaml
mariadb_data
mariadb_backup